
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.PlusJakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}


.Nunito {
  font-family: "Nunito Sans", sans-serif; ;
}
/* colors */
.primarycolor {
  color: #364436;
}
.textcolor {
  color: #616161;
}
.placehoderscolors {
  color: #808080;
}
.backgroundcolor {
  background-color: #364436;
 box-shadow: 0 1px 5px #0E0E2C1A, 0 1px 5px #0E0E2C66;
}
.buttonbackgroundcolor {
  background-color: #F9F9FB;
}

.Poppinsfonts {
  font-family: "Poppins", sans-serif;
}
.SerifTextfonts {
   font-family: "DM Serif Text", serif;
}
.hover-arrow {
  position: relative; 
  /* display: inline-block;  */
  transition: background-color 0.3s ease;
}

.gradient-background {
  background: linear-gradient(
    to bottom, /* Direction: from top to bottom */
    rgba(255, 255, 255, 0.1) 0%, /* Slightly visible white at 0% */
    rgba(255, 255, 255, 0.4) 20%, /* Slightly visible white at 20% */
    rgba(255, 255, 255, 0.6) 40%, /* Slightly visible white at 40% */
    rgba(255, 255, 255,0.9) 100% /* Nearly transparent white at 100% */
  );
 
}

/* animations */
.typeselectdropdom {
  transition-duration: 3s;
  transition-timing-function: linear;
  /* transition: background; */
}


.hover-arrow::after {
  content: '➔'; 
  position: absolute;
  opacity: 0; 
  transform: translateX(-10px); 
  transition: opacity 0.8s ease, transform 0.3s ease;

  top: 50%;
  transform: translateY(-50%) translateX(-10px); 
}

.hover-arrow:hover::after {
  opacity: 1; 
  transform: translateY(-50%) translateX(0); 
}
/* image box */

.main {
  border-bottom-left-radius: 30%;
}
.mainboxbottom {
   border-top-right-radius: 50px;
   box-shadow: 5px  -5px  0 5px white;
   
}
.mainboxtop {
   border-top-right-radius: 30px;
   box-shadow: 5px  -5px  0 5px white;
}

/* hover */
.cardcontainer  {
  transition-duration: 9s; /* Adjust this number to make the zoom slower */
  transition-timing-function: ease-in; /* Smooth easing */
  transition-property:  background-size;
}

.cardcontainer:hover {
  background-size: 350%;
}


.arrowparent {
  width: 77.5px;
  height: 77.5px;
 
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(29, 75, 59);
  border-radius: 100%;
}

.arrowcontainer {
  width: 77.5px;
  height: 77.5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.cardcontainer:hover .arrowcontainer {
  background-color: rgb(29, 75, 59);
  transform: translateY(-50%) translateX(10px)
  
}




/* media  */
@media only screen 
  and (max-width: 375px) 
   {
  
  .nav {
    margin-bottom: 20px;
  }
  .inputcontainer {
    width: 300px;
   margin-bottom: 20px;
  }
  .inputbutton  {
    width: 280px;
  }
}
