
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.PlusJakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}


.Nunito {
  font-family: "Nunito Sans", sans-serif; ;
}
/* colors */
.primarycolor {
  color: #364436;
}
.textcolor {
  color: #616161;
}
.placehoderscolors {
  color: #808080;
}
.backgroundcolor {
  background-color: #364436;
 box-shadow: 0 1px 5px #0E0E2C1A, 0 1px 5px #0E0E2C66;
}
.buttonbackgroundcolor {
  background-color: #F9F9FB;
}

.Poppinsfonts {
  font-family: "Poppins", sans-serif;
}
.SerifTextfonts {
   font-family: "DM Serif Text", serif;
}
.hover-arrow {
  position: relative; 
  /* display: inline-block;  */
  transition: background-color 0.3s ease;
}

.gradient-background {
  background: linear-gradient(
    to bottom, /* Direction: from top to bottom */
    rgba(255, 255, 255, 0.1) 0%, /* Slightly visible white at 0% */
    rgba(255, 255, 255, 0.4) 20%, /* Slightly visible white at 20% */
    rgba(255, 255, 255, 0.6) 40%, /* Slightly visible white at 40% */
    rgba(255, 255, 255,0.9) 100% /* Nearly transparent white at 100% */
  );
 
}
.shadowdisplaygren {
  background: linear-gradient(
    to bottom, /* Direction: from top to bottom */
    rgba(135, 170, 135, 0) 0%, /* Transparent green at 0% */
    rgba(114, 144, 114, 0.6) 60%, /* Slightly visible green at 60% */
    rgba(85, 107, 85, 0.95) 95%, /* Mostly visible green at 95% */
    rgba(54, 68, 54, 1) 100% /* Fully visible green at 100% */
  );
}


/* animations */
.typeselectdropdom {
  transition-duration: 3s;
  transition-timing-function: linear;
  /* transition: background; */
}






.main {
  border-bottom-left-radius: 30%;
}
.mainboxbottom {
   border-top-right-radius: 50px;
   box-shadow: 5px  -5px  0 5px white;
   
}
.mainboxtop {
   border-top-right-radius: 30px;
   box-shadow: 5px  -5px  0 5px white;
}

/* hover */
.cardcontainer  {
 transition: background-size 1s ease-in;
 background-size: 300%;
}

.cardcontainer:hover {
  background-size: 350%;
  /* animation:backgroundsize 1s ease-in  ; */
}
.cardcontainerbox {
    transition: background-size 2s ease-in;
    background-size: 1750px
}

.cardcontainerbox:hover {
  background-size: 1950px; /* Zoom the background on hover */
}





.arrowparent {
  width: 77.5px;
  height: 77.5px;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(29, 75, 59);
  border-radius: 100%;
}

.arrowcontainer {
  width: 77.5px;
  height: 77.5px;
  border-radius: 50%;
  position: absolute;

}

   




.cardcontainer:hover .arrowcontainer {
  animation: translateBack 1s ease-in; /* Adds an animation */
  background-color: rgb(29, 75, 59);
}

@keyframes translateBack {
   1% {
    transform: translateX(-100px) translateY(0); 
    background-color: rgb(29, 75, 59);/* Back to original position */
  }
   50% {
    transform: translateX(-100p) translateY(0);
    background-color: rgb(29, 75, 59); /* Back to original position */
  }
  100% {
    transform: translateX(-100p) translateY(0);
    background-color: rgb(29, 75, 59); /* Back to original position */
  }
}


  
.mainfeaturedcategory-container {
  border-top-left-radius: 10%;
}
.mainboxbottom-featuredcategory-container {
   border-bottom-right-radius: 50px;
   box-shadow: 6px  5px  0px 4px white;
   
}
.mainboxtop-featuredcategory-container {
   border-bottom-right-radius: 30px;
   box-shadow: 6px  5px  0 4px white;
}


@media only screen 
  and (min-width: 360px) 
   {
  
  .nav {
    margin-bottom: 20px;
  }
  .inputcontainer {
    width: 300px;
   margin-bottom: 20px;
  }
  .inputbutton  {
    width: 280px;
  };
  .smallscreen {
    height: 1500px;
  }
}

@media only screen 
  and (min-width: 1628px) 
   {
  .gapdisplay {
    gap: 10rem;
  }
  .hide {
    display: none;
  }
  .shadowdisplay {
    height: 500px;
    
  }
   
}

@media only screen and (min-width: 1270px) and (max-width: 1280px) 
    {
  .gapdisplay {
    gap: 4rem;
  }
   .shadowdisplay {
    height: 320px;
    
  }
  
}
@media only screen and (min-width: 768px) and (max-width: 1270px) 
    {
  .gapdisplay {
    gap: 12rem;
  }
   .hide {
    display: none;
  }
}